# Environments
venv/
.env
.env.*

# Python
__pycache__/
*.pyc
*.log

# Models & Binaries (CRITICAL)
Piper/
*.onnx
*.onnx.json
*.bin
*.exe
*.dll

# Audio Junk
*.wav
output.wav
test_output.wav

# Frontend
node_modules/
frontend/react-client/node_modules/
dist/
build/